{namespace yag=Tx_Yag_ViewHelpers}
{namespace themepackJquery=Tx_YagThemepackJquery_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace ptx=Tx_PtExtbase_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering an album.

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_List_ListData listData               List of items in album

@package YAG
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<f:if condition="{config.settings.jsonMode}">
    <f:then>
        <div id="galleria-{config.contextIdentifier}" class="tx-yag-galleria-wrapper" style="height:{ptx:cObjectConfig(config:config.settings.height)}px;width:{ptx:cObjectConfig(config:config.settings.width)}px"></div>
        <themepackJquery:galleria identifier="{config.contextIdentifier}" listData="{listData}"/>
    </f:then>

    <f:else>
        <div id="galleria-{config.contextIdentifier}" class="tx-yag-galleria-wrapper" style="height:{ptx:cObjectConfig(config:config.settings.height)}px;width:{ptx:cObjectConfig(config:config.settings.width)}px">
            <f:for each="{listData}" key="rowIndex" as="listRow">
                <a href="{yag:resource.image(item:listRow.image.value, resolutionName:'medium')}">
                    <img src="{yag:resource.image(item:listRow.image.value, resolutionName:'thumb')}"
                         data-big="{yag:resource.image(item:listRow.image.value, resolutionName:'big')}"
                         data-title="{listRow.image.value.title}"
                         data-description="{listRow.image.value.description}"
                    />
                </a>
            </f:for>
        </div>
    </f:else>
</f:if>

<yag:javascript.include>
	Galleria.loadTheme('{yag:resource.file(path:config.settings.galleriaThemeBasePath)}{config.settings.galleriaTheme}/galleria.{config.settings.galleriaTheme}.js');
	Galleria.configure({yag:javascript.jsonSettings(tsPath:'galleriaSettings')});
	Galleria.run('#galleria-{config.contextIdentifier}');
</yag:javascript.include>

