{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering an album.

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_List_ListData listData               List of items in album

@package YAG
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<script>



$(document).ready(function(){
	jQuery('#yag-galleryView-{config.contextIdentifier}').galleryView({yag:javascript.jsonSettings(tsPath:'galleryViewSettings')});
});
</script>

<ul id="yag-galleryView-{config.contextIdentifier}">
    <f:for each="{listData}" key="rowIndex" as="listRow">		
		 <li><img frame="{yag:resource.image(item:listRow.image.value, resolutionName:'thumb')}"
				  src="{yag:resource.image(item:listRow.image.value, resolutionName:'medium')}"
				  title="{listRow.image.value.title}"
				  longdesc="{listRow.image.value.description}"
				 />
	        <div class="gv-panel-overlay">
	            <p>{listRow.image.value.description}</p>
	        </div>
    	</li>
	</f:for>	
</ul>