{namespace themepackJquery=Tx_YagThemepackJquery_ViewHelpers}

<themepackJquery:superSized listData="{listData}" />

<f:if condition="{config.settings.superSizedSettings.navigation}">
	<!--Thumbnail Navigation-->
	<div id="prevthumb"></div>
	<div id="nextthumb"></div>

	<!--Arrow Navigation-->
	<img id="prevslide" src="{superSizedImagePath}/back.png"/>
	<img id="nextslide" src="{superSizedImagePath}/forward.png"/>
</f:if>

<div id="thumb-tray" class="load-item">
    <div id="thumb-back"></div>
    <div id="thumb-forward"></div>
</div>


<f:if condition="{config.settings.superSizedSettings.progress_bar}">
	<div id="progress-back" class="load-item">
		<div id="progress-bar"></div>
	</div>
</f:if>

<!--Control Bar-->

<f:if condition="{config.settings.superSizedSettings.slide_counter}">
	<div id="controls-wrapper">
		<div id="controls">

			<a id="play-button"><img id="pauseplay" src="{superSizedImagePath}/pause.png"/></a>

			<!--Slide counter-->
			<div id="slidecounter">
				<span class="slidenumber"></span> / <span class="totalslides"></span>
			</div>

			<!--Slide captions displayed here-->
			<div id="slidecaption"></div>

			<!--Thumb Tray button-->
			<a id="tray-button"><img id="tray-arrow" src="{superSizedImagePath}/button-tray-up.png"/></a>
		</div>
	</div>
</f:if>