{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace themepackJquery=Tx_YagThemepackJquery_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering an album with CrossSlide

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_List_ListData listData               List of items in album

@package YAG
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<style type="text/css">
	.yag-crossSlide-{config.contextIdentifier} {
	  width: {config.settings.crossSlide.gallery.canvasWidth}px;
	  height: {config.settings.crossSlide.gallery.canvasHeight}px;
	}
</style>

<div id="yagConext-{config.contextIdentifier}" class="yag-crossSlide-{config.contextIdentifier}"></div>


<themepackJquery:CrossSlide identifier="yagConext-{config.contextIdentifier}" listData="{listData}"/>


