div#galleriffic-container {
	padding: 20px;
}

div#footer {
	clear: both;
	color: #777;
	margin: 0 auto;
	padding: 20px 0 40px;
	text-align: center;
}

div.galleriffic-content {
	/* The display of galleriffic-content is enabled using jQuery so that the slideshow galleriffic-content won't display unless javascript is enabled. */
	display: none;
	float: right;
	width: 550px; 
}
div.galleriffic-content a, div.navigation a {
	text-decoration: none;
	color: #777;
}
div.galleriffic-content a:focus, div.galleriffic-content a:hover, div.galleriffic-content a:active {
	text-decoration: underline;
}

div.controls {
	margin-top: 5px;
	height: 23px;
}

div.controls a {
	padding: 5px;
}

div.ss-controls {
	float: left;
}

div.nav-controls {
	float: right;
}

div.slideshow-container {
	position: relative;
	clear: both;
}

div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 550px;
	height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {

}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
div.slideshow a.advance-link {
	display: block;
	width: 550px;
	/*
	height: 502px;
	line-height: 502px;
	*/
	text-align: center;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
	vertical-align: middle;
	border: 1px solid #ccc;
}
div.download {
	float: right;
}
div.caption-container {
	position: relative;
	clear: left;
	height: 75px;
}
span.image-caption {
	display: block;
	position: absolute;
	width: 550px;
	top: 0;
	left: 0;
}
div.caption {
	padding: 12px;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}

div.navigation {
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}

ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 5px 10px 5px 0;
	list-style: none;
}
a.thumb {
	padding: 2px;
	display: block;
	border: 1px solid #ccc;
}
ul.thumbs li.selected a.thumb {
	background: #000;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}
div.pagination {
	clear: both;
}
div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
}
div.navigation div.bottom {
	margin-top: 12px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
    border: 1px solid #BFBFBF;
    color: #000000;
    display: inline-block;
    font-size: 11px;
    height: 23px;
    width: 24px;
    line-height: 23px;
    margin-right: 6px;
    padding: 0;
    text-align: center;
}
div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
}

div.pagination span.current {
	font-weight: bold;
    border: 1px solid #393939;
}

div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}
