p {
    padding: 0 30px 30px 30px;
    color: #fff;
    font: 11pt "Helvetica Neue", "Helvetica", Arial, sans-serif;
    text-shadow: #000 0px 1px 0px;
    line-height: 200%;
}

p a {
    font-size: 10pt;
    text-decoration: none;
    outline: none;
    color: #ddd;
    background: #222;
    border-top: 1px solid #333;
    padding: 5px 8px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 1px 1px #000;
    -webkit-box-shadow: 0px 1px 1px #000;
    box-shadow: 0px 1px 1px #000;
}

p a:hover {
    background-color: #427cb4;
    border-color: #5c94cb;
    color: #fff;
}

h3 {
    padding: 30px 30px 20px 30px;
}

#overlay {
    position: absolute;
    top: 50px;
    left: 50px;
    background: #111;
    background: rgba(0, 0, 0, 0.65);
    width: 360px;
    text-align: left;
}

.stamp {
    float: right;
    margin: 15px 30px 0 0;
}