.wookmark-tiles {
  -webkit-transition: height .3s ease-out;
  -moz-transition: height .3s ease-out;
  -o-transition: height .3s ease-out;
  transition: height .3s ease-out;
  position: relative;
}

.wookmark-tiles ul {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
}

.wookmark-tiles li {
  background-color: #ffffff;
  border: 1px solid #dedede;
  display: none; /** Hide items initially to avoid a flicker effect **/
  padding: 4px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.wookmark-tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

.wookmark-tiles li img {
  display: block;
}

.yag-wookmark-title,
.wookmark-tiles li p {
  color: #666;
  font-size: 12px;
  margin: 7px 7px 0px;
}

.yag-wookmark-title {
  font-weight: bold;
}

.yag-wookmark-pager {
  display: none;
}

.wookmark-image-wrap {
  display: block;
}

.wookmark-filters {
  list-style-type: none;
  text-align: center;
  margin: .5em 0;
  display: block;
}

.wookmark-filters li {
  background: #f5f5f5;
  font-size: 12px;
  float: left;
  padding: 3px 5px;
  cursor: pointer;
  margin: 0 3px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.wookmark-filters li:hover {
  background: #dedede;
}

.wookmark-filters li.active {
  background: #333;
  color: #fff;
}

.wookmark-tags {
  color: #999;
  font-size: 11px;
  font-style: italic;
}

.wookmark-clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

* html .wookmark-clearfix {
  height: 1%;
}

.yag-wookmark-loader {
  height: 16px;
  text-align: center;
  padding: 25px 0 25px 0;
  /*z-index: 1000;*/
  bottom: 0px;
  position: absolute;
}

.yag-wookmark-loader-circle {
  width: 16px;
  height: 16px;
  margin: 0 auto;
  display: none;
  background-image: url('../Images/Wookmark/loader.gif');
}