{namespace yag=Tx_Yag_ViewHelpers}
{namespace themepackJquery=Tx_YagThemepackJquery_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering an album.

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_List_ListData listData               List of items in album

@package YAG
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<themepackJquery:nivoSlider />

<div id="wrapper">
    <div class="slider-wrapper theme-default controlnav-thumbs">
        <div class="ribbon"></div>
        <div id="nivoSlider-{config.contextIdentifier}" class="nivoSlider" style="width:{listData.firstRow.image.value.resolutions.medium.width}px; height:{listData.firstRow.image.value.resolutions.medium.height}px;">
            <f:for each="{listData}" key="rowIndex" as="listRow">
                <img src="http://t3develop.harper/{yag:resource.image(item:listRow.image.value, resolutionName:'medium')}"
                           title="{f:if(condition:listRow.image.value.description, then:'#htmlcaption-{listRow.image.value.uid}', else:'')}"
                           rel="http://t3develop.harper/{yag:resource.image(item:listRow.image.value, resolutionName:'thumb')}"
                        />
            </f:for>
        </div>
        <f:for each="{listData}" key="rowIndex" as="listRow">
            <f:if condition="{listRow.image.value.description}">
                <div id="htmlcaption-{listRow.image.value.uid}" class="nivo-html-caption"><f:format.raw>{listRow.image.value.description}</f:format.raw></div>
            </f:if>
        </f:for>
    </div>
</div>


