.theme-default.controlnav-thumbs .nivoSlider {
    margin-bottom:100px; /* Tweak this to push content down */
}

.theme-default.controlnav-thumbs .nivo-controlNav {
	position:absolute;
	left:0px;
	bottom:-80px; /* Tweak this to push thumbnails down */
    margin:0;
}

.theme-default.controlnav-thumbs .nivo-controlNav a {
	display:inline;
	background:none;
	text-indent:0px;
	border:0;
	margin:0;
	float:none;
}

.theme-default.controlnav-thumbs .nivo-controlNav a.active img {
    -webkit-box-shadow: 0px 1px 5px 0px #151515;
    -moz-box-shadow: 0px 1px 5px 0px #151515;
    box-shadow: 0px 1px 5px 0px #151515;
}

.theme-default.controlnav-thumbs .nivo-controlNav img {
	display:inline;
	position:relative;
	margin-right:10px;
}